*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.border{
  border: 1px solid red;
}
.mybutton{
  border-radius: 5px !important;
  border: 1px solid #888 !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;

}

html
{scroll-behavior: smooth;
color:rgb(252, 82, 82);
}